/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  max-inline-size: 100vw;
  min-block-size: 100dvb;
  display: grid;
  justify-content: center;
  gap: 100px;
  font-family: "Inter-Variable", sans-serif;
  background-repeat: no-repeat;
  position: relative;
  background-image: repeating-linear-gradient(90deg, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px), repeating-linear-gradient(180deg, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px), linear-gradient(180deg, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-variation-settings: "wght" 400;
}

.main {
  display: grid;
  max-inline-size: 700px;
}

.header {
  display: grid;
  width: 100%;
}

.entrance-sign {
  padding: 128px 120px;
  display: grid;
  gap: 20px;
  border: 2px solid #000;
  justify-content: center;
  margin-top: 100px;
  background-color: #fff;
}

@media (width <= 375px) {
  .entrance-sign {
    padding: 120px 14px;
  }
}

.entrance-title {
  width: min-content;
  height: fit-content;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  font-family: 'PressStart2P', sans-serif;
  font-weight: 400;
  align-self: end;
}

.entrance-subtitle {
  width: fit-content;
  height: fit-content;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  font-family: 'PressStart2P', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  justify-self: center;
}

.cards-list {
  display: grid;
  gap: 50px;
  max-inline-size: 100%;
}

.card {
  display: grid;
  width: 100%;
  background-color: #fff;
}

.card-title {
  font-variation-settings: "wght" 700;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  border-left: 2px solid #000;
  font-size: 18px;
  line-height: 25px;
  padding: 3px 10px;
}

@media (width <= 375px) {
  .card-title {
    line-height: 23px;
  }
}

.image-container {
  position: relative;
}

.card-image {
  width: 100%;
  object-position: center;
  object-fit: cover;
  display: block;
  aspect-ratio: 1 / 1;
}

.watermark {
  font-family: 'PressStart2P', sans-serif;
  font-size: 14px;
  text-shadow: 0 0 1px #fff;
  position: absolute;
  top: 27px;
  right: 27px;
  mix-blend-mode: hard-light;
  opacity: 0.5;
}

@supports (-webkit-text-stroke: 1px #fff) {
  .watermark {
    -webkit-text-stroke: 1px #fff;
  }
}

@media (width <= 375px) {
  .watermark {
    top: 25px;
    right: 13px;
  }
}

.card-info {
  border: 2px solid #000;
  padding: 25px 25px 25px 25px;
  display: grid;
}

.card-text {
  font-size: 18px;
  max-width: 671px;
}

@media (width <= 375px) {
  .card-text {
    max-width: 345px;
  }
}

.card-text-container {
  display: grid;
  gap: 27px;
}

@media (width <= 375px) {
  .width-fix {
    max-width: 342px;
  }
}

.like-button {
  justify-self: end;
  display: flex;
  align-items: center;
  padding-top: 21px;
  gap: 5px;
}

@media (width <= 375px) {
  .like-button {
  padding-top: 23px;
  }
}

.card__icon-button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid transparent;
  padding: 0;
  max-height: 40px;
}

.card__icon-button:hover {
  transform: scaleX(1);
}

.card__icon-button:focus-visible {
  border-color: #000;
}

.card__like-button {
  width: 130px;
  padding: 6.5px 0;
  border: 2px solid #000;
  display: grid;
  outline: none;
  cursor: pointer;
  position: relative;
  background-color: transparent;
}

.button {
  position: relative;
  overflow: hidden; 
  color: #000; 
  transition: box-shadow 0.3s ease;
  outline: none;
}

.button::after { 
  content: "";
  position: absolute;
  inset: 0;
  background-color: #000;
  transform-origin: left;
  transform: scaleX(0);
  transition: 0.25s linear;
  z-index: 0;
}

.button:hover::after{ 
  transform: scaleX(1);
}

.button:hover { 
  color: #fff;
}

.button:focus {
  box-shadow: 2px 2px 0px 0px #000000;
}

.button__text {
  font-family: 'PressStart2P', sans-serif;
  font-size: 14px;
  line-height: 21px;
  position: relative;
  z-index: 10;
  color: #fff;
  mix-blend-mode: difference;
}

@media (width <= 375px) {
  .button__text {
    align-self: start;
    justify-self: center;
  }
}

.save-button {
  margin-top: 50px;
  display: flex;
  justify-self: center;
  height: 55px;
  border: 2px solid #000;
  width: 337px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 103px;
  cursor: pointer;
  position: relative;
}

@media (width <= 375px) {
  .save-button {
    min-height: 80px;
    gap: 0;
  }
}

@media (width <= 375px) {
  .save-button {
    display: grid;
    max-width: 308px;
  }
}

.floppy { 
  position: relative;
  block-size: 21px;
  inline-size: 21px;
  color: #fff;
  mix-blend-mode: difference;
  z-index: 1;
}

@media (width <= 375px) {
  .floppy {
    block-size: 28px;
    inline-size: 28px;
    justify-self: center;
    margin-top: 5px;
  }
}

dialog[open] {
  max-width: 353px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  padding: 26px 30px;
  row-gap: 30px;
}

@media (width <= 375px) {
  dialog[open] {
    max-width: 341px;
    padding: 30px 42px;
  }
}

.dialog-icon {
  width: 39px;
  height: 39px;
  align-self: center;
  justify-self: start;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.modal-text {
  font-family: 'PressStart2P', sans-serif;
  font-size: 14px;
  line-height: 21px; 
}

.confirm {
  border: 2px solid #000;
  padding: 7px 132px;
  grid-column-start: 1;
  grid-column-end: 3;
  align-self: end;
  cursor: pointer;
  position: relative;
  outline: none;
  transition: box-shadow 0.3s ease; 
  background-color: transparent;
}

@media (width <= 375px) {
  .confirm {
    padding: 7px 123px;
  }
}